@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji',
    'Segoe UI Emoji';
}
